
@import{
    url(https://fonts.googleapis.com/css?family=Open+Sans)} 


:root {
    --green: #62bb46;
    --navy: #144576;
    --blue: #3b9cfb;
    --lightblue: #71cef5;    
    --dark: #3c3b3a;
    --medium: #818181;
    --light: #e2e2e2;
    --verylight: #f7f7f7;
    --turq: #21bdb7;}

body{
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;}
        
.wrapper{
    padding-left:16px;
    padding-right:16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 25%);
    margin:0 auto;
    align-items:center;
    max-width:1370px;} 
        
/* BUTTON GENERAL */
      
.button{
     transition-duration: 0.4s;
    height: 40px;
    display:inline-block;
    border-radius:4px;
    text-align:center;
    border: 1px solid;
    border-color: var(--green);
    padding-left:16px;
    padding-right:16px;
    }   
      
.button a{
    line-height: 40px;
    box-sizing: border-box;
    text-decoration:none;
    color: var(--green);
    height:40px;
    font-size:10pt;
    text-transform: uppercase;    
}    
        

.button:hover{
    color:white;
    transition-duration: 0.4s;
    height: 40px;
    display:inline-block;
    border-radius:4px;
    text-align:center;
    border: 1px solid;
    border-color: var(--green);
    background-color: var(--green);    
    padding-left:16px;
    padding-right:16px;
    }   
      
            
/*TYPO*/

h1 {
    font-weight:100;
    font-size:42pt;
    line-height:42pt;
    margin:0}  
      
h2 {
    font-weight:100;
    font-size:28pt;
    line-height:42pt;
    margin:0}    
        
h3 {
    font-weight:100;
    font-size:22pt;
    line-height:42pt;
    margin:0}          

h5 {
    font-size:11pt;
    margin:0;
    font-weight: 600;}

h6 {
    font-size:9pt;
    margin:0;
    font-weight: 600;}        
      
p{
    font-weight:200;
    font-size:16pt;
    color: var(--medium);}      
      
/* HEADER */

  
        
.site-header{
    background-color:white;
    position:fixed;
    z-index: 6;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25); 
    height:70px;
    box-sizing:border-box;
    width:100%;
    display:flex;
    align-items:center;
    align-content: space-between;}

.header-wrapper{
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:1370px;} 

.logo-header{
    position:relative;
    width: 150px;
    left:0px;}

.header-nav .button{
    float:right;
    margin-left:50px;
    margin-top:6px;}   
        
ul#nav-links {
    list-style:none;
    float:right;
    margin-right:0px; }
          
li.menu-item{
    float:left;
    padding-left:20px;}

li.menu-item a{
    text-decoration: none;
    color: var(--dark);
    height:70px;
    padding-bottom:23px;
    padding-top:23px;
    padding-left:10px;}

li.menu-item a:hover{
    text-decoration: none;
    color: var(--3c3b3a);
    background-color:var(--verylight);}


/* HERO */

.hero-bg{
    padding-top:15vh;
    background-color:#eae8e9;
    position:relative;
    width:100%;
    min-height:60vh;
  } 

.hero-img img{
    max-width:100%;}        
.hero-img{
    grid-column: 1 / 8;} 
        
.info-section{
    grid-column: 8 / 11;
    box-sizing: border-box;}        
        
    .add-to-cart{
        margin-right:16px;
        padding-right:32px;
        padding-left:32px;
        grid-gap: 10px;
        max-width:100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top:40px;
        background-color: white;
        border: 1px solid;
        border-color: var(--light);} 
        
    .cart-form{
        display:flex;
        margin-top:8px;}    
        
    .cart-form input {
        width:40%;
        box-sizing: border-box;    
        height: 48px;
        border: 1px solid;
        border-color: var(--turq);
        border-radius:4px;
        margin-right:10px;}

    .product-name{
         margin:0px;}

    .subtitle {
        color: var(--turq);
        text-transform: uppercase;}

    .description {
        margin-top: 20px;
        font-size:20pt;
        font-weight:100;
        color: var(--medium)}  

    .cart-price{
        margin-top:20px;
        font-size: 36px;
        font-weight: 200;    
        padding-bottom: 40px;}

    .certificates{
        margin-right:16px;
        display:flex;
        justify-content: space-between;
        margin-bottom:50px;
}  

    .certificates img{
        max-width: auto;
        height: 100%;}        

    .button.add {
        width:60%;
        box-sizing: border-box;
        height:48px;
        background-color: var(--turq);
        border:0px;
        padding-top:0px;}

    .button.add a{
        height:48px;
        line-height:48px;
        color:white;}

/* Battery Life Module */

.battery-life{
    position:relative;
    padding-top:5%;
    max-width:1280px;
    margin:0 auto;
    min-height:500px;}
        
    .feature{
        grid-column: 1 / 6;
        grid-row: 2;
        position:relative;
        float:left;}  

    .battery-chart{
        margin-left:0%;
        grid-column: 7 / 12;
        grid-row: 2;

        float:right;
        margin-right:-100vh; }

    .beacon-cable{        
        position:Absolute;
        z-index:2;
        float:right;
        padding-top: 100px;
        padding-left:25vh;}     

    img.slider{
        margin-left:100px;
    }
    .power-save img{
        max-width:100%;
        max-height:100%;
        position:absolute;
    }

    .battery-life h2{
        grid-column: 1 /6;
        grid-row: 1}


/* COVERAGE */

.coverage{
    min-height:494px;
    display:flex;
    flex-direction: row;
}

img.signal{
    max-width:100%;
    max-height:100%;
    position:absolute; }

img.statue{
    max-width:100%;
    max-height:100%;
    position:absolute;
} 
.coverage .headline{
    margin-top:100px;
    grid-column: 7 / 12;
    grid-row: 1;
    margin-bottom:0px;}
        
.coverage h2{
    grid-column: 7 / 12;
    grid-row: 1;}

.coverage-img{    
    height:494px;
    margin-left:-15vw;
    grid-row:1/5;}

.feature-coverage{
    grid-column: 7  / 12;
    grid-row:2;
}


/* AMBIENT */

.ambient h2{
    color: var(--lightblue);}
    
.ambient p{
    color: white;  
}
.ambient{
    min-height: 700px;
    background: linear-gradient(to right, #144576 70%,#ffffff 70%);
}

.ambient .wrapper {
    min-height:700px;}
        
.ambient .wrapper .headline{
    position:relative;
    grid-column: 1 / 6;
    order:1;
    grid-row: 1/4;}    
        
.feature-ambient{
    margin-top:70px;
    height:auto;
    grid-column: 1 / 6;
    grid-row: 2/5;
    order:2}

.power-saving{
    width:100%;
    height:100%;
    grid-column-start: 7;
    grid-row: 2;
}

.shadow-box{
    margin-top:5px;
    position:absolute;
    width:758px;
    height:400px;
    box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.20);  }  
        
.power-saving .timeline{}    
        
.power-saving img{
    position:absolute;)
    
}

/* LOCATOR */


        
.locator .headline{
    grid-column: 7  / 12;
    grid-row: 2;
    
}
.locator{
    margin-top:100px;
    min-height:700px;
    }

.locator-img{
    grid-column: 2  / 6;
    grid-row: 1/5;
    
}
.feature-locator{
    grid-column: 7  / 12;
    grid-row: 3;
}

/* SPACER */

.spacer {
    background: linear-gradient(to top, #e2e2e2 50%,#ffffff 50%)
}

/* MOUNTING */
        
video{
min-width:100%;}
        
.mounting{
    background-color: var(--light);}
  
.mounting .headline{
     grid-row: 2;
}        
.feature-mounting{
    grid-column: 1 / 6;
    grid-row: 3;}

.mount-video{
    grid-column: 7/12;
    z-index:2;
    float:right;
    margin-top:-100px;
    box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.20);
    grid-row: 1/4;}


/* WEATHER */


        
.weather{
    padding-top:100px;
    background-color: var(--light);
    display:flex;
    align-content:center;}

.feature-weather{
    grid-column: 7 / 12;
    grid-row: 2;}

.weather-img{
    max-width:594px;
    overflow:hidden;
    grid-column: 1/6;
    grid-row: 1/4;
    margin-bottom:100px;
    box-shadow: 10px 5px 55px 0px rgba(0,0,0,0.20);}
        
 .weather-img img {
    width:100%;
    height:auto;
    transition: all 0.5s ease;}          
        
.weather-img img:hover {
    transform:scale(1.1);}
        
.weather .headline{
    margin-top:10%;
    grid-column: 7/12;
    grid-row:1}        
        
.golf{
background-color: var(--light);
grid-column: 1 / 12;}   
        
.golf-img{
    display:flex;
    justify-content: center;}

.golf-img img{
}        

/* BLE */

.ble .wrapper{
    background-color: var(--blue);
    min-height:600px;}

.ble p {
    color: white;}

.ble h2 {
    color: var(--navy);}
.ble{
    background: linear-gradient(to bottom, #e2e2e2 50%,#ffffff 50%);
    min-height: 600px; 
    color:white;}

.ble .wrapper .button {
    border-color:white;
    color:  white;} 
        
.ble .wrapper .button a{
    border-color:white;
    color:  white;} 
        
.feature-ble{
    grid-column: 3 /7;
    grid-row: 2/4;}

.ble-img{
    margin-left:50px;
    grid-column: 7 / 11;
    grid-row: 2/4;}
        
/* FEatures */

.other-features h2{
    margin-top:80px;
    text-align:center;   
    margin-bottom:50px;   
}  
        
.other-features{
    text-align:center;   
    margin-bottom:50px;  
    min-height:400px;
}  
 
.other-features .button{
    margin:0 auto;   
}         
.feature1{
    flex-basis: 100px;
}  

.feature1 img{
    margin-bottom:20px;}        
      
.f-list{
    text-align:center;
    margin:0 auto;
    max-width:1000px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:50px;}

        
/* APPS */

.apps{
    background-color: var(--green);
    padding-top:100px;}
    
.feature-apps{
    grid-column: 1 / 7;
    grid-row:1;} 

.opisy-grid p{
    color:white;
    font-size: 14pt;}
        
.opisy-grid h3, h2 {
        color: var(--navy);
        
}
        
        
.opisy-grid{
    display:flex;
    flex-wrap: wrap;}    
        
.opis_s{
    width:50%;
    margin-top:50px;}        
        
.apps-img{
    grid-column: 7 / 12;
    grid-row:1;}   
        
.phones img{
    position:absolute;}   
        
.phones{   
    height:500px;} 

    .admin {
        padding-top:20px;
        margin-left:12vw;}

    .showcase {
        margin-left:23vw;
        padding-top:50px;}

    .panel {
        margin-left:25vw;}

.download-app{
    margin-top:70px;
    display:flex;
    margin-left:17vw}

    .show-badge{
        width:112px;
        display:flex;
        flex-direction: column;
        margin-left:3vw;
        }        

    .admin-badge{
        width:112px;
        display:flex;
        flex-direction: column;}        

/* FOR DEVS */

.for-developers{
    padding-top:100px;
    width: 100vw;
    background: linear-gradient(to bottom, #62bb46 50%,#ffffff 50%);}

.for-developers .wrapper {
    padding-top:50px;
    background-color: #144576;
    min-height:400px;
    display:block;}    
        
.for-developers .wrapper h2{ 
    padding-bottom:16px;
    color:white;
    text-align: center;}
        
.for-developers .wrapper p{ 
    margin:0 auto;
    width:60%;
    opacity:0.6;
    color:white;
    text-align: center;
    padding-bottom:100px;}        
    
.for-developers .wrapper ul{
    margin:0 auto;
    justify-content: space-around;
    font-weight: 200;
    color: var(--lightblue);
    font-size:18pt;
    display:flex;
    flex-wrap:wrap;
    list-style: none;
} 
        
.wrapper ul li:first-child{
     border-left:0px solid;
     }
       
.for-developers .wrapper li{
    line-height:24px;
    margin-right:20px;
    height:60px;
    border-left: 1px solid;
    border-color: #3d648c;
    padding-left:20px;}
        

/* PERKS */

.perks{
    padding-top:100px;
    margin:0 auto;
    max-width:1370px;
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;} 
        
        
 .perk_s{
     
    display:flex; 
    flex-direction: column; 
    min-width:300px; 
    min-height:280px;
    padding-top:50px;
    box-sizing: border-box;
    flex-basis: 25%;
    
} 
 .perk_s  p {
   font-size:12pt;
 }
        
.perk_s img{
    display:flex;
    align-self:flex-start;
    justify-content: center;
    }        
        
 .perk_s h3, p {
    margin-right:60px;
    margin-top:10px;
 }
        
.line{
    margin-bottom:10px;
    width:40px;
    height:1px;
    background-color: var(--turq);
    position: absolute;
    bottom: 0;
    left: 0;    
    }    
        
        
.bottom{
    margin-top:100px;
    background: linear-gradient(to top, #3c3b3a 50%,#ffffff 50%)
}   

.headline{
    grid-column: 1 /6;
    grid-row: 1;}

.headline img{
    margin-bottom:16px;}        
        
.section-icon{
    width:27px;
    height:28px;
}        