@media only screen and (max-width: 970px) {
    
@import{
    url(https://fonts.googleapis.com/css?family=Open+Sans)} 

    

html,body
{   min-height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  .wrapper  {
    overflow-x: hidden;  
    width:80vw;
    display:flex;
    align-items: flex-start;
    flex-direction: column;
}
    
h2 {
    font-size:22pt;}       

ul#nav-links {display:none;}   

/* COVERAGE */
.feature-coverage{
    order:1;}
    
.coverage-img{
   display:none;
    } 
    
    
 
    
/* AMBIENT */

.ambient{
    padding-top:50px;
    background: linear-gradient(to right, #144576 70%,#144576 70%);} 
   
.power-saving{
display: none;}

    
/* SPACER */

.spacer {
margin-top:50px;
padding-bottom:50px;}

    
/* LOCATOR */

.layer-1, .layer-2, .layer-3{
display:none;}

 
.locator-img{
margin:0 auto;}    

/* MOUNTING */    

.mount-video{
    margin-top:-0px;  } 
    
video{
width:100%;}    
    
.weather-img{
    width:100%;}
      
.weather-img img {
    width:100%;
    transition: all 0.5s ease;}          
            
/* APPS */

    .panel {
        display:none;}
    