@media (max-width: 970px) {
  .wrapper * {
    grid-column: 2 / 11; }
    
    .battery-chart{margin:0px 0 0 0;
      grid-row: 1;}
    
    .feature{
        grid-row: 2;
        margin-top:50px;}    

}