@media (max-width: 970px) {
  .wrapper  {
    width:90%;
    display:flex;
    flex-direction: column;}
    
  /* BATTERY */ 
    
    .battery-chart{
        width:100%;
        grid-row: 1;
        grid-column: 1 / 12;
        margin-right:0px; }
    
    .feature{
        width:90vw;}
    
    
  /* COVERAGE */
   
    .coverage{
        width:90%;
        height:auto;
    }
    .feature-coverage{
        width:90%;}  
    
    .coverage-img{
        position:relative;
                width:100vw;
    }
    
  /* AMBIENT */
    
    .ambient{
        height: 700px;
        background: linear-gradient(to right, #144576 60%,#144576 60%);}
    
    .power-saving{
        width:90vw;
        height:100%;
        position:static;
        margin-left:0px;}
    
        

    
    
    
    
    
}